<div>

    <div class="container-fluid">
        <div class="row">

        </div>
        <div class="row">
            <br>
            <br>
            <div class="col-sm-4" ng-controller="botonesController as botonera">

                <div class="row">
                    <br>
                    <br>
                    <div class="col-sm-offset-5">
                        <button ng-click="botonera.norte()">
                            <img src="img/Arrow up.png" width="50" height="50">
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-offset-3">
                        <button ng-click="botonera.oeste()">
                            <img src="img/Arrow Left.png" width="50" height="50">
                        </button>
                        <button class="col-sm-offset-3" ng-click="botonera.este()">
                            <img src="img/Arrow Right.png" width="50" height="50">
                        </button>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-offset-5">
                        <button>
                            <img src="img/Arrow Down.png" width="50" height="50" ng-click="botonera.sur()">
                        </button>
                    </div>
                </div>
                <br>
                <div class="col-sm-offset-3">
                    <div>
                        <img src="img/ubicacion2.png" width="50em" height="50em">
                        <label ng-bind="botonera.player.coordenadaActual.x"></label>
                        <label ng-bind="botonera.player.nombre"></label>
                        <label ng-bind="botonera.player.coordenadaActual.y"></label>
                    </div>
                </div>

            </div>
            <!--FIN BOTONES-->

            <div class="col-sm-8">
                <div class="container-fluid">
                    <p>
                        <b class="usaFuentePokemon">Oponentes</b>
                    </p>

                    <div class "row">
                        <div class="table-responsive ">
                            <div class="table-editable">
                                <table class="table">
                                    <thead id="teal">
                                        <tr>
                                            <th>Entrenador</th>
                                            <th>Pok&eacute;mon</th>
                                            <th>Apuesta</th>
                                            <th></th>
                                            <th>Resultado</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-controller="oponenteController as Oponente">
                                        <tr ng-repeat="oponente in Oponente.oponentes" ng-show="Oponente.proximidad()" class ="ng-hide">
                                            <td>{{oponente.nombre}}</td>
                                            <td>poket</td>
                                            <td>
                                                <input type="number" class="numberField" ng-model="Oponente.apuesta">
                                            </td>
                                            <!-- <td ng-click="Oponente.mostrarImagen()">hola

                                            </td>
                                            <td><img ng-src={{Oponente.imagen}}>
                                            -->
                                            </td>
                                            <td class="fuentePokemon" ng-click="Oponente.battle()">Battle
                                            </td>
                                            <td class="fuentePokemon" ng-bind="Oponente.victoria"></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>


                        </div>
                        <br>

                    </div>
                    <div class="row">
                        <p class="col-sm-6 text-sm-left">
                            <b class="usaFuentePokemon">Pok&eacute;mones Salvajes</b>
                        </p>
                        <p class="col-sm-6 text-sm-left">
                            <b class="usaFuentePokemon">Pokeparadas</b>
                        </p>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="table-responsive ">
                                <div class="table-editable">
                                    <table class="table">
                                        <thead id="teal">
                                            <tr>
                                                <th>Pok&eacute;mon</th>
                                                <th>Nivel</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="especie in PkmCtrl.especies">

                                                <td>
                                                    {{especie.nombre}}
                                                </td>
                                                <td>
                                                    {{especie.nivel}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="table-responsive ">
                                <div class="table-editable">
                                    <table class="table">
                                        <thead id="teal">
                                            <tr>
                                                <th>Pokeparada</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="tabla-body" ng-controller="pokeparadaController as PokeparadasCtrl">
                                            <tr ng-repeat="pokeparada in PokeparadasCtrl.pokeparadas">
                                                <td>{{pokeparada.nombre}}</td>
                                                <td>
                                                    <img ng-click="PokeparadasCtrl.curar()" ng-src="img/cruz.svg" height="25px" width="25px">
                                                </td>
                                            </tr>
                                        </tbody>


                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>
                    <!--Tablas-->


                </div>
                <!--row padre-->

            </div>
            <!--container padre-->

        </div>
    </div>
</div>