<div>
    <div class="row">
        <div class="col-md-4">
            <span class="espaciado-estetico"/>
            <div class="responsive-container">
                <div id="container-nombre-entrenador">
                    <span id="nombre-entrenador"><div ng-bind="entrenador.nombre"></div></span> 
                </div>
                <img id="trainer-card" src="img/trainer-card.png">
                <img id="imagen-entrenador" src="img/entrenador.png">
                <div id="container-descripcion-entrenador">
                    <div class="descripcion-entrenador">
                        <ul>
                            <li>Dinero:<div ng-bind="entrenador.dinero"></div></li>
                            <li>Experiencia:<div ng-bind="entrenador.experiencia"></div></li>
                            <li>Nivel:<div ng-bind="entrenador.nivel"></div></li>
                            <li>Perfil:<div ng-bind="entrenador.perfil"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pokemones-atrapados">
                <label class="usaFuentePokemon">Pok&eacute;mones atrapados</label>
                <div class="elementos-consecutivos">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Pok&eacute;mon</th>
                                <th>Nivel</th>
                                <th>Selecci&oacute;n</th>
                                <th>Posici&oacute;n</th>
                            </tr>
                            <tr>
                                <tr ng-repeat="pokemon in entrenador.pokemonesCapturados">
                                    <td>{{pokemon.especie}}</td>
                                    <td>{{pokemon.nivel}}</td>
                                    <td>
                                      <span class="table-remove glyphicon glyphicon-remove"></span>
                                    </td>
                                    <td>
                                        <img ng-click="setPokemonSeleccionado(pokemon)" ng-src="img/pokebola-seleccionado.png" height="25px" width="25px">
                                    </td>
                                  </tr>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="inventario">
                <label class="usaFuentePokemon">Inventario</label>
                <div class="table-responsive">
                    <div class="table-editable">
                        <table class="table">
                            <tr>
                                <th>&Iacute;tem</th>
                                <th>Cantidad</th>
                            </tr>
                            <tr>
                            <tr ng-repeat="item in entrenador.itemsDisponibles">
                                <div ng-if="item.cantidad > 0">
                                     <td>{{item.nombre}}</td>
                                     <td>{{item.cantidad}}</td>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <span class="espaciado-estetico"/>
            <div class="responsive-container">
                <img id="imagen-pokedex" src="img/pokedex.png">
                <img id="imagen-pokemon" ng-src="">
                <div id="container-descripcion-pokemon">
                    <div class="descripcion-pokemon">
                        <ul>
                            <li>Especie:<div ng-bind="pokemon.especie"></div></li>
                            <li>Tipo:<div ng-bind="pokemon.tipo"></div></li>
                            <li>Nombre:<div ng-bind="pokemon.nombre"></div></li>
                            <li>Nivel:<div ng-bind="pokemon.nivel"></div></li>
                            <li>Experiencia:<div ng-bind="pokemon.experiencia"></div></li>
                            <li>G&eacute;nero:<div ng-bind="pokemon.genero"></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>