<div>
    <div class="row">
        <div class="col-md-4">
            <span class="espaciado-estetico"/>
            <div class="responsive-container">
                <div id="container-nombre-entrenador">
                    <span id="nombre-entrenador"><div ng-bind="entrenador.entrenador.nombre"></div></span> 
                </div>
                <img id="trainer-card" src="img/trainer-card.png">
                <img id="imagen-entrenador" src="img/entrenador.png">
                <div id="container-descripcion-entrenador">
                    <div class="descripcion-entrenador">
                        <ul>
                            <li>Nivel:{{entrenador.player.nivel}}</li>
                            <li>Experiencia:{{entrenador.player.experiencia}}</li>
                            <li>Dinero:{{entrenador.player.dinero}}</li>
                            <li>Victorias:{{entrenador.player.victorias}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pokemones-atrapados">
                <label class="usaFuentePokemon">Pok&eacute;mones atrapados</label>
                <div class="elementos-consecutivos">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Pok&eacute;mon</th>
                                <th>Especie</th>
                                <th>Nivel</th>
                            </tr>
                            <tr>
                                <tr ng-repeat="pokemon in entrenador.player.pokemonesCapturados" ng-click="entrenador.seleccionar(pokemon)">
                                    <td>{{pokemon.nombre}}</td>
                                    <td>{{pokemon.especie.nombre}}</td>
                                    <td>{{pokemon.nivel}}</td>
                                  </tr>
                            </tr>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="inventario">
                <label class="usaFuentePokemon">Inventario</label>
                <div class="table-responsive">
                    <div class="table-editable">
                        <table class="table">
                            <tr>
                                <th>&Iacute;tem</th>
                                <th>Cantidad</th>
                            </tr>
                            <tr>
                            <tr>
                                <div ng-if="entrenador.player.pokeballs > 0">
                                     <td>{{entrenador.player.pokeballs.nombre}}</td>
                                     <td>{{entrenador.player.pokeballs.cantidad}}</td>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <span class="espaciado-estetico"/>
            <div class="responsive-container">
                <img id="imagen-pokedex" src="img/pokedex.png">
                <img id="imagen-pokemon"  src={{entrenador.pokemonSeleccionado.especie.imagen}}>
                <div id="container-descripcion-pokemon">
                    <div class="descripcion-pokemon">
                        <ul>
                            <li>Nombre:<span ng-bind="entrenador.pokemonSeleccionado.nombre"></span></li>
                            <li>Especie:<span ng-bind="entrenador.pokemonSeleccionado.especie.nombre"></span></li>
                            <li>Tipo:<span ng-bind="entrenador.pokemonSeleccionado.especie.tipos[0].nombre"></span></li>
                            <li>Nivel:<span ng-bind="entrenador.pokemonSeleccionado.nivel"></span></li>
                            <li>Experiencia:<span ng-bind="entrenador.pokemonSeleccionado.experiencia"></span></li>
                            <li>Descripcion:<span ng-bind="entrenador.pokemonSeleccionado.especie.descripcion"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>