<div class "row">
    <div class="table-responsive ">
        <div class="table-editable">
            <table class="table">
                <thead id="teal">
                    <tr>
                        <th>Entrenador</th>
                        <th>Pok&eacute;mon</th>
                        <th>Apuesta</th>
                        <th></th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="oponente in Oponente.oponentes" ng-show="Oponente.proximidad(oponente)" class ="ng-hide">
                        <td>{{oponente.nombre}}</td>
                        <!-- <td>lelo</td> -->
                        <td>{{Oponente.player.dinero}}</td>
                        <!-- <td>{{oponente.especiesCapturadas[0].nombre +" niv. "+ oponente.especiesCapturadas[0].nivel }}</td> -->
                        <td>
                            <input type="number" class="numberField" ng-model="Oponente.player.apuesta">
                        </td>

                        <!-- <td ng-click="Oponente.mostrarImagen()">hola

                        </td>
                        <td><img ng-src={{Oponente.imagen}}>
                        -->
                        <td class="fuentePokemon" ng-click="Oponente.battle()">Battle
                        </td>
                        <td class="fuentePokemon" ng-bind="Oponente.victoria"></td>
                    </tr>
                </tbody>

            </table>
        </div>


    </div>
    <br>

</div>