<div class="table-responsive ">
    <div class="table-editable">
        <table class="table">
            <thead id="teal">
                <tr>
                    <th>Pok&eacute;mon</th>
                    <th>Nivel</th>
                    <th></th>
                </tr>
            </thead>
            <!-- <tbody ng-controller="pokemonController as PkmCtrl">
                <tr ng-repeat="especie in PkmCtrl.especies"> -->
                <tbody>
                    <td>{{vm.player.name}}</td>
                    <!-- <td>{{especie.nombre}}</td>
                    <td>{{especie.nivel}}</td>
                    <td class="fuentePokemon" ng-click="pkmCtrl.captura()">Capturar</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>