<div class="table-responsive ">
    <div class="table-editable">
        <table class="table">
            <thead id="teal">
                <tr>
                    <th>Pok&eacute;mon</th>
                    <th>Nivel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="pokemon in pokemonesSalvajes.pokemonesSalvajes">
                <tr>
                    <td>{{pokemon.especie.nombre}}</td>
                    <td>{{pokemon.nivel}}</td>
                    <td>
                        <button class="fuentePokemon" data-toggle="modal" data-target="#pokemonesSalvajes" ng-click="pokemonesSalvajes.seleccionarSalvaje(pokemon)">Capturar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="pokemonesSalvajes" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title usaFuentePokemon">CAPTURA</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div ng-show="pokemonesSalvajes.pokemonCapturado()">
                            <b class="fuentePokemon" style="font-size:2em">Selecciona un Mote para El Pokemon</b>
                            <input type="text" ng-model="pokemonesSalvajes.nuevoMote">
                            <button type="button" class="btn btn-danger fuentePokemon" data-dismiss="modal" ng-click="pokemonesSalvajes.nombrar()">Nombrar</button>
                        </div>
                        <div ng-show="pokemonesSalvajes.pokemonNoCapturado()">
                            <b class="fuentePokemon" style="font-size:2em">El Pokemon ha huido... </b> <img src="img/pikachu-enojado.jpg" height="200em" width="200em" >
                        </div>
                        <div ng-show="pokemonesSalvajes.noTienePokebola()">
                            <b class="fuentePokemon" style="font-size:2em">No tienes Pokebolas</b>
                        </div>

                    </p>
                </div>
                <div class="modal-footer" ng-show="pokemonesSalvajes.noTienePokebola() || !pokemonesSalvajes.resultadoCaptura">
                    <button type="button" class="btn btn-danger fuentePokemon" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>