@font-face {
  font-family: 'pokemonFont';
  src: url('../fonts/pokemonFont.woff2') format('woff2'),
       url('../fonts/pokemonFont.woff') format('woff'),
       url('../fonts/pokemonFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bladeRunner';
  src: url('../fonts/bladeRunner.woff2') format('woff2'),
       url('../fonts/bladeRunner.woff') format('woff'),
       url('../fonts/bladeRunner.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background-image: url('../img/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden; 
}

/* .container-fluid{
  height: 100%;
} */

/* INICIO NAVBAR */
.navbar.navbar-inverse {
  top:0;
  border: none;
}

.navbar::before{
  background-color: #1d2429;
  opacity: 0.4;
}

.navbar{
  border: none;
  background-color: #1d2429;
  background:rgba(255,255,255,0.2);
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.navbar>ul {
  display: table-row;
}

.navbar>ul>li {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.navbar-left {
  max-height: 50px;
}

.navbar-left>img {
  max-height: 50px;
  padding-top: 5px;
}

.usaFuentePokemonTitulo{
  font-family: "pokemonFont";
  font-size: 30px;
  line-height: 50px;
  color: yellow;
  text-shadow: -3px 0 2px #1F2EFC, 0 3px 2px #1F2EFC, 3px 0 2px #1F2EFC, 0 -3px 2px #1F2EFC
}

.usaFuentePokemon{
  font-family: "pokemonFont";
  font-size: 2em;
  line-height: 3em;
  color: yellow;
  text-shadow: -3px 0 2px #036060, 0 3px 2px #036060, 3px 0 2px #036060, 0 -3px 2px #036060;
}
.fuentePokemon{
  font-family: "pokemonFont";
  font-size: 1em;
  line-height: 2em;
  color: yellow;
  text-shadow: -3px 0 2px #036060, 0 3px 2px #036060, 3px 0 2px #036060, 0 -3px 2px #036060;
}
.numberField{
  width: 8em;

}

.navbar-right>* {
  max-height: 70px;
}

.navbar ul li.active>a {
  border-bottom: 0.5em solid red;
  color: red;
}

/* FIN NAVBAR*/

/* INICIO BODY ENTRENADOR*/
.descripcion-entrenador>ul>li, .descripcion-pokemon >ul>li{
  list-style-type: none;  /* Para remover bullets */
}

ul{
  padding-left: 3%;
}

/* Existe para que leo no hinche con el estilo y además para pantallas chicas la barra de navegacion no tape las imagenes del entrenador*/
.espaciado-estetico{
  display: block;
  width:100%;
  height: 7em;
}

/* 
para mejorar la estética en pantallas chicas

.espaciado-estetico-tablas-centrales{
  height: 0;
} 

@media screen and (min-width: 280px) and (max-width: 767px) {
  .espaciado-estetico-entrenador{
    display: block;
    width:100%;
    height: 12.5em;
  }

  ..espaciado-estetico-tablas-centrales , .espaciado-estetico-pokemon{
    display: block;
    width:100%;
    height: 4.5em;
  } 

}
*/

.columna-pokemon, .columna-item, .columna-cantidad{
  width: 14em;
  text-align: left;
}

.columna-nivel, .columna-seleccionado{
  width: 7em;
  text-align: left;
}

.columna-seleccionado{
  text-align: center;
}

.identificador-columna{
  background-color: red;
}

.elementos-consecutivos>*{
  display: inline-block;
  vertical-align: middle;
}

.responsive-container{
  position: relative;
  display: block;
  left: 0;
  top:0;
}

#trainer-card{
  display: block;
  background-size: cover;
  width: 100%;
}

#imagen-entrenador{
  position: absolute; 
  display: block;
  max-width:50%;
  height: 100%;
  max-height: 75%; 
  top: 0;
}

#container-descripcion-entrenador{
  position: absolute;
  display: block;
  max-width: 59%;
  max-height: 43%;
  left: 37%;
  top:24%;
  color: white;
}

#container-nombre-entrenador{
  left:36%;
  height: 15%;
  width:64%;
  position: absolute;
}

#nombre-entrenador{
  font-family: "bladeRunner";
  font-size: 2em;
  color: red;
  position: relative;
  white-space: nowrap;
  text-shadow: -4px 0 white, 0 1px white, 1px 0 white, 0 -1px;
}


#imagen-pokedex{
  display: block;
  background-size: cover;
  width: 120%;
}

#imagen-pokemon{
  position: absolute; 
  display: block;
  max-width:50%;
  height: 60%;
  top:5%;
  left:0;
}

#container-descripcion-pokemon{
  position: absolute;
  display: block;
  width: 37%;
  max-width: 37%;
  height: 74%;
  left: 64%;
  top:14%;
}

.descripcion-pokemon{
  position: relative;
  text-align: left;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 20%;
  margin-left: 2%;
  z-index: 2;
  font-size: 1.2em;
}

/* 
INICIO ESTILOS DE HTML5 Editable Table

IDEA = https://codepen.io/ashblue/full/mCtuA/ 

*/

.table-editable {
  position: relative;
}

.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-remove:hover {
  color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}

.table-up:hover, .table-down:hover {
  color: #00f;
}

/* .table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

.table-add:hover {
  color: #0b0;
} */

.table-responsive{
  margin: 0.6em 0;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  background: transparent;
  color: #FA1010;
  border-radius: 10px;
  border: none;
}

.table{
  background: #E5E5E2;
}

.table-responsive tr {
  border: 1px solid #D9E4E6;
}
.table-responsive tr:nth-child(odd) {
  background-color: #F3F3EA;
}
.table-responsive th {
  display: none;
  border: 1px solid #FFF;
  background-color: teal;
  color: yellow;
  padding: 1em;
}
.table-responsive th:first-child {
  display: table-cell;
  text-align: center;
}
.table-responsive th:nth-child(2) {
  display: table-cell;
}
.table-responsive th:nth-child(2) span {
  display: none;
}
.table-responsive th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .table-responsive th:nth-child(2) span {
    display: block;
  }
  .table-responsive th:nth-child(2):after {
    display: none;
  }
}
.table-responsive td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.table-responsive td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .table-responsive td {
    border: 1px solid #D9E4E6;
  }
}
.table-responsive th, .table-responsive td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .table-responsive th, .table-responsive td {
    display: table-cell;
    padding: 1em;
  }
}

#teal {
  color:teal;
  font-size: 1.3em;
} 
/* FIN ESTILOS DE HTML5 Editable Table */
/* INICIO MEDIA QUERIES PARA PANTALLAS PEQUEÑAS */

@media screen and (min-width: 600px){
  .descripcion-pokemon{
    position: relative;
    text-align: left;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 50%;
    z-index: 2;
  }  
} 

/* FIN BODY ENTRENADOR*/

.modal-backdrop{
  background-color:teal; 
}
.modal-content{
  background-color: rgb(163, 0, 0);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid darkred;
}
.modal-footer{
  padding: 15px;
  border-bottom: 1px solid darkred;
  border-top: 1px solid darkred;
}